@page "/"


<div class="d-grid gap-2 col-8 mx-auto">
    <h1 class="center">
        <strong>Aprenda!</strong>
    </h1>
    
    <br /><br />
    
    <a class="btn btn-primary" href="hiragana">
        <span class="span-menu">あ</span> Hiragana
    </a>

    <a class="btn btn-primary" href="katakana">
        <span class="span-menu">ア</span> Katakana
    </a>
</div>

@code {

}
